<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.gracenam.todoapi.task.mapper.TaskMapper">

    <select id="findTaskList" resultType="TaskListDto">
        select * from task
        <where>
            <if test="contents != null">
                contents like concat('%', #{contents}, '%')
            </if>
        </where>
    </select>

    <select id="findById" resultType="TaskDto">
        select * from task
        where id = #{id}
    </select>

    <insert id="insertTask" useGeneratedKeys="true" keyProperty="id">
        insert into task (title, contents, type, status, registered_date)
        values (#{title}, #{contents}, #{type}, #{status}, now())
    </insert>

    <update id="updateTask">
        update task
        set title = #{title},
            contents = #{contents}
        where id = #{id}
    </update>

    <update id="updateTaskToStatus">
        update task
        set status = #{status}
        where id = #{id}
    </update>

    <update id="updateTaskToType">
        update task
        set type = #{type}
        where id = #{id}
    </update>

    <delete id="deleteTask">
        delete from task where id = #{id}
    </delete>

</mapper>